body {
    background-color: #ffffff;
    background-image: url("https://media.tenor.com/jxeYaagGjocAAAAi/spongebob-fast.gif");
    background-repeat: no-repeat;
    background-position: right top;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h1.left
  {
      text-align: left;
  }
  /*This is a comment*/
  p {
      color: red;
      text-align: center;
  }
  p.mix{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  *{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .bg-color{
      background-color: hsl(148, 41%, 30%);
  }
  
