body {
    background-color: #ffffff;
    background-image: url("https://media.tenor.com/jxeYaagGjocAAAAi/spongebob-fast.gif");
    background-repeat: no-repeat;
    background-position: right top;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h1.left
  {
      text-align: left;
  }
  /*This is a comment*/
  p.ex1 {outline: dashed;}
  p.ex2 {outline: dotted red;}
  p.ex3 {outline: 5px solid yellow;}
  p.ex4 {outline: thick ridge pink;}